<ion-view view-title="{{playlistService.selectedPlaylist}}">
  <ion-content>
  	<div ng-controller="fireCtrl">
    	<ion-list>
		  <ion-item
		  			ng-click="getTitle(p.title, p.$id)"
		  			ng-show="p.formType==playlistService.selectedPlaylist"
		  			ng-repeat="p in literature"
		  			href="#/app/form/{{p.title}}">
		  			{{p.title}}
		  </ion-item>
		</ion-list>

		<div class="cards">
			<div class="list card" 
				 ng-show="p.$id==idService.selectedPoem"
				 ng-repeat="p in literature">
		    	<div class="item item-avatar">
		    		<h2>{{p.title}}</h2>
		    		<p>{{p.author}}</p>
		    	</div>
		    	
		    	<div class="item item-body">
		    		<p>
				  		<span ng-repeat="(key, value) in p.lines" 
				  			  style="margin: 0">
				  			  <br ng-show="p.formType=='Prose'" ng-if="!(($index + 1) % 2)">
				  			  {{value}}<br>
				  			  <br ng-show="p.formType=='Pantoum'" ng-if="!(($index + 1) % 4)">
				  		</span>
					</p>
				</div>
			</div>
		</div>
  	</div>
  </ion-content>
</ion-view>