@font-face {
  font-family: 'Metrica-Regular';
  src: url('Metrica-Regular.eot');
  src: url('Metrica-Regular.woff2') format('woff2'),
       url('Metrica-Regular.woff') format('woff'),
       url('Metrica-Regular.ttf') format('truetype'),
       url('Metrica-Regular.svg#Metrica-Regular') format('svg'),
       url('Metrica-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

