<ion-header>
    <ion-navbar>
        <button ion-button menuToggle="left" start>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{title}}
        </ion-title>
        <button ion-button menuToggle="right" end>
            <ion-icon name="person"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>


<ion-content padding ngClass="selectable">

    <ion-card>
        <ion-card-header>
            <h2>{{ author }}</h2>
            <small>{{ formType }}</small>
        </ion-card-header>

        <ion-card-content>
            <p ion-text>
                <span *ngFor="let line of lines | lines">
                    {{line.value}}<br><br *ngIf="formType == 'Prose'">
                </span>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>
