@font-face {
  font-family: 'CaveatBrush-Regular';
  src: url('CaveatBrush-Regular.woff') format('woff'),
       url('CaveatBrush-Regular.ttf') format('truetype'),
       url('CaveatBrush-Regular.svg#CaveatBrush-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaveatBrush';
  src: url('CaveatBrush.eot');
  src: url('CaveatBrush.woff2') format('woff2'),
       url('CaveatBrush.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

