page-home {
    padding: 0
}

blockquote {
    font-size: 14px;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 0 30px;
    border-left: 8px solid #23BDE7;
    line-height: 1.6;
    position: relative;
    margin: 0;
}

blockquote::before {
    font-family: Helvetica;
    content: "\201C";
    color: #23BDE7;
    font-size: 2em;
    position: absolute;
    left: 10px;
    top: 12px;
}

blockquote::after {
    content: '';
}

blockquote {
    span {
        display: block;
        color: #333333;
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
    }
}

#home-desc {
    padding: 20px 16px 0 16px;
    margin: 0;
    text-align: justify;
}