@font-face {
  font-family: 'Lemon-Regular';
  src: url('Lemon-Regular.eot');
  src: url('Lemon-Regular.woff2') format('woff2'),
       url('Lemon-Regular.woff') format('woff'),
       url('Lemon-Regular.ttf') format('truetype'),
       url('Lemon-Regular.svg#Lemon-Regular') format('svg'),
       url('Lemon-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

